
<link href="~/css/dropstyle.css" rel="stylesheet" type="text/css" />
<div class="modal fade" id="AboutLilliUrl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog mw-100 w-100 modalHeader" role="document">
        <div class="modal-content">
            <div class="modal-header p-0 header">
                <div class="ml-auto">
                    <partial name="_NavbarPartial" />
                </div>
                <div class="my-auto pt-2 pb-2 pr-3 mr-2 border font-weight-bold">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="textView">
                                <div class="h3" style="color:#0f6a83">About LilliURL</div>
                                <div class="h1">We invented the URL shortener.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="imageView">
                                <img src="~/image/link-hero.svg" class="img-fluid" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="textView">
                        <div class="footerText text-dark">Our History</div>
                        <div class="footerText2">
                            LilliURL™ was created when our founder, Kevin Gilbertson, ran into issues sending long links from his unicycling website to email subscribers. When sending a link that was over 80 characters, links would commonly break and not be clickable or end up sending users to 404 pages.
                            <br /><br />
                            After a long ride on his unicycle pondering his link problems, Kevin had a big idea: What if there was a way to make those long links, well, tinier?
                            <br /><br />
                            Thus LilliURL™ was born, the internet’s original link shortener. Since early 2002, Kevin has shared his tool with millions of people to help them shorten their links with reliable, and Lilli URLs.
                            <br /><br />
                            Now, LilliURL is offering users a full-scale link management platform that gives businesses with big ideas the power of shortened links. With a LilliURL premium account, users can create, manage, track, and grow their brands through link campaigns of all sizes.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="imageView text-center">
                            <img src="~/image/step1.svg" class="img-fluid" />
                        </div>
                        <div class="How-it-work-box">
                            <div class="h4">Experience</div>
                            <div class="how-it-work-text">As the first URL shortener on the market, we’ve created billions of links for brands, marketers, and businesses, and we've been doing for over 18 year</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="imageView text-center">
                            <img src="~/image/step2.svg" class="img-fluid" />
                        </div>
                        <div class="How-it-work-box">
                            <div class="h4">Reliability</div>
                            <div class="how-it-work-text">Some of the world’s biggest brands rely on us. Why? Because our links are reliable, secure, and never expire. Big brands love </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="imageView text-center">
                            <img src="~/image/step3.svg" class="img-fluid" />
                        </div>
                        <div class="How-it-work-box">
                            <div class="h4">Ease</div>
                            <div class="how-it-work-text">Our link management platform is designed to make managing links simple--whether you’re an entrepreneur, influencer, or enterprise corporation. Our link platform works for brands of all sizes.</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="textView">
                            <img src="~/image/block2.svg" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="textView">
                            <div class="h2 text-dark">Your short URLs can count on our big reputation.</div>
                            <div class="textfont">As the most trusted URL shortening service, LilliURL™ links always perform and never expire. Increase your click-through rates by your own brand with your own custom domain name to shorten your URLs. Shorten all of your long links with LilliURL and track unlimited clicks with any of our subscriptions.</div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="textView">
                            <div class="h2 text-dark">Watch your short links work wonders.</div>
                            <div class="textfont">Every link you create on LilliURL comes with mighty data. Monitor who clicks on your custom links, from where, and from what device. Get detailed analytics on how your links perform. Then view all of your aggregated metrics in the sleek LilliURL dashboard.</div>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="imageView">
                            <img src="~/image/block3.png" class="img-fluid" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="textView">
                        <div class="footerText text-center text-dark">See why we’re the best URL shortener available in some not-so-tiny numbers.</div>
                        <div class="footerText2 text-center">LilliURL has created billions of short links for marketers, influencers, small business owners, and large businesses. Companies all around the world rely on TinyURL to manage links and grow their brands.</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script src="~/js/Register.js"></script>
<script src="~/js/home.js"></script>
