
<link href="~/css/dropstyle.css" rel="stylesheet" type="text/css" />
<div class="modal fade" id="BrandedCustomize" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog mw-100 w-100 modalHeader" role="document">
        <div class="modal-content">
            <div class="modal-header p-0 header">
                <div class="ml-auto">
                    <Partial name="_NavbarPartial" />
                </div>
                <div class="my-auto pt-2 pb-2 pr-3 mr-2 border font-weight-bold">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="textView">
                                <div class="h3" style="color:#0f6a83">Feature</div>
                                <div class="h1">Branded & Customized Links</div>
                                <div class="h5">Build your perfect branded link campaign with custom domain essentials.</div>
                                <div class="btn-group">
                                    <a href="#" class="btn">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="imageView">
                                <img src="~/image/link-hero.svg" class="img-fluid" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="textView">
                            <div class="h2 text-dark">Short links paired with a powerful platform.</div>
                            <div class="textfont">Harness the power and security of LilliURL’s full-scale link management services. Remove long URLs entirely from your email marketing, social media, or customer communications. As the original URL shortener, we do more than create shortened URLs. We empower you to better understand your audience by monitoring every click your links receive.</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="textView">
                            <img src="~/image/snapshot.png" class="img-fluid" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="textView">
                            <img src="~/image/block2.svg" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="textView">
                            <div class="h2 text-dark">Your short URLs can count on our big reputation.</div>
                            <div class="textfont">As the most trusted URL shortening service, LilliURL™ links always perform and never expire. Increase your click-through rates by your own brand with your own custom domain name to shorten your URLs. Shorten all of your long links with LilliURL and track unlimited clicks with any of our subscriptions.</div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="textView">
                            <div class="h2 text-dark">Watch your short links work wonders.</div>
                            <div class="textfont">Every link you create on LilliURL comes with mighty data. Monitor who clicks on your custom links, from where, and from what device. Get detailed analytics on how your links perform. Then view all of your aggregated metrics in the sleek LilliURL dashboard.</div>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="imageView">
                            <img src="~/image/block3.png" class="img-fluid" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="textView">
                        <div class="footerText text-center text-dark">See why we’re the best URL shortener available in some not-so-tiny numbers.</div>
                        <div class="footerText2 text-center">LilliURL has created billions of short links for marketers, influencers, small business owners, and large businesses. Companies all around the world rely on TinyURL to manage links and grow their brands.</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script src="~/js/Register.js"></script>
<script src="~/js/home.js"></script>
