
<link href="~/css/dropstyle.css" rel="stylesheet" type="text/css" />
<div class="modal fade" id="Compaign" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog mw-100 w-100 modalHeader" role="document">
        <div class="modal-content">
            <div class="modal-header p-0 header">
                <div class="ml-auto">
                    <Partial name="_NavbarPartial" />
                </div>
                <div class="my-auto pt-2 pb-2 pr-3 mr-2 border font-weight-bold">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="textView">
                                <div class="h3" style="color:#0f6a83">Feature</div>
                                <div class="h1">Campaign Monitoring & Analytics</div>
                                <div class="h5">Learn from your links, and build better digital campaigns.</div>
                                <div class="btn-group">
                                    <a href="#" class="btn">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="imageView">
                                <img src="~/image/hero1.png" class="img-fluid" />
                            </div>
                        </div>
                    </div>
                </div>
            @*    <div class="row">
                    <div class="col-sm-6">
                        <div class="textView">
                            <div class="h2 text-dark">Short links paired with a powerful platform.</div>
                            <div class="textfont">Harness the power and security of LilliURL’s full-scale link management services. Remove long URLs entirely from your email marketing, social media, or customer communications. As the original URL shortener, we do more than create shortened URLs. We empower you to better understand your audience by monitoring every click your links receive.</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="textView">
                            <img src="~/image/snapshot.png" class="img-fluid" />
                        </div>
                    </div>
                </div>*@
                <div class="row">
                    <div class="col-sm-6">
                        <div class="textView">
                            <img src="~/image/frequency.png" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="textView">
                            <div class="h2 text-dark">All the data you need, nothing you don't.</div>
                            <div class="textfont">Get popular metrics on your shortened links like location, devices, frequent times, referrer and more. Monitor only the data you need in the LilliURL™ dashboard. Track links individually or by groups to see how your shortened links perform over time.</div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="textView">
                            <div class="h2 text-dark">The best URL shortener comes with the best data monitoring.</div>
                            <div class="textfont">Knowledge is power. For every shortened URL you make with LilliURL, we equip you with the metrics you need to make your URLs more influential, so you can get even more clicks in the long-term.</div>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="imageView">
                            <img src="~/image/linechart.png" class="img-fluid" />
                        </div>
                    </div>
                </div>
               
            </div>

        </div>
    </div>
</div>


<script src="~/js/Register.js"></script>
<script src="~/js/home.js"></script>
