
<link href="~/css/dropstyle.css" rel="stylesheet" type="text/css" />
<div class="modal fade" id="HowItWork" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog mw-100 w-100 modalHeader" role="document">
        <div class="modal-content">
            <div class="modal-header p-0 header">
                <div class="ml-auto">
                   <Partial name="_NavbarPartial" />
                </div>
                <div class="my-auto pt-2 pb-2 pr-3 mr-2 border font-weight-bold">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 textView">
                        <div class="HowItWorkHeading text-center text-dark">How It Works</div>
                        <div class="HowItWorkText text-center">LilliUrl + Unlimited clicks = Big results for brands.</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="imageView text-center">
                            <img src="~/image/step1.svg" class="img-fluid" />
                        </div>
                        <div class="How-it-work-box">
                            <div class="h4">Create your LilliURL™.</div>
                            <div class="how-it-work-text">Slim down your long links with our URL shortener. Get more clicks and more exposure with branded and customized links that reflect you. Manage your shortened links from the LilliURL dashboard. Use short URLs for your social media, email campaigns, or wherever you need them. Our links are reliable, safe, and never expire.</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="imageView text-center">
                            <img src="~/image/step2.svg" class="img-fluid" />
                        </div>
                        <div class="How-it-work-box">
                            <div class="h4">See how our links work for you.</div>
                            <div class="how-it-work-text">See who clicks on your shortened URLs, from where, and on what devices. With a premium account, measure how your short URLs build your brand name and awareness. Pair your links with QR codes or customized reports. We track your clicks with the primary purpose of empowering you with the knowledge you need to make your shortened URLs work harder and faster for your brand.</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="imageView text-center">
                            <img src="~/image/step3.svg" class="img-fluid" />
                        </div>
                        <div class="How-it-work-box">
                            <div class="h4">We're here for you.</div>
                            <div class="how-it-work-text">Our support team is ready to help you discover the magic of using customized shortened URLs at every step of the way. Use our contact form or email us at <a href="https://lilliurl.com/contact-us">general[at]lilliurl.com</a> .</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="textView">
                            <img src="~/image/block2.svg" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="textView">
                            <div class="h2 text-dark">Your short URLs can count on our big reputation.</div>
                            <div class="textfont">As the most trusted URL shortening service, LilliURL™ links always perform and never expire. Increase your click-through rates by your own brand with your own custom domain name to shorten your URLs. Shorten all of your long links with LilliURL and track unlimited clicks with any of our subscriptions.</div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script src="~/js/Register.js"></script>
<script src="~/js/home.js"></script>
